body{
  background-image: url("public/rolling fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contenedor{
  margin: 27vh 0 15vh;
  width: 60%;
  margin-inline: auto;
  padding: 2%;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.802);
}
.contenedor-foto{
  width: 35%;
  border-radius: 100%;
}

.contenedor-caja2{
  text-align: center;
  padding: 2%;
}
.contenedor-caja2-titulo{
  font-size: 2.5rem;
  font-weight: 500;
  color: #B08D59;
}

.contenedor-caja2-nav{
  width: 40%;
  margin: 0 auto;
}

.contenedor-caja2-nav svg{
  color: #B08D59;
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 600px){
  .contenedor{
    width: 100%;
    margin: 13vh 0 0vh;
  }

  .contenedor-caja2-nav{
    width: 100%;
  }
}