body{
    background-image: url(public/contactofondo.jpg);
    background-size: cover;
}
.contenedor1{
    width: 80%;
    margin: 0 auto 13rem;
    position: relative;
    top: 10rem;
}
.contenedor1_caja1{
}
.contenedor1_img{
    width: 100%;
    height: 100%;

}